{# {% import "Ceres::Category.Macros.CategoryTree" as Tree %} #}

{#
<ul class="mainmenu">
    {{ Tree.get_nav_bar(
        categories,
        "",
        ceresConfig.header.megamenuLevels,
        {
            "1": ceresConfig.header.megamenuItemsStage1,
            "2": ceresConfig.header.megamenuItemsStage2,
            "3": ceresConfig.header.megamenuItemsStage3
        }
    ) }}
</ul>
#}
<ul class="mainmenu float-lg-right">
		<li class="ddown">
			<a >Ruten Rollen Schnur</a>
			<span data-toggle="collapse" href="#navDropdown0" aria-expanded="false" class="d-lg-none nav-direction">
				<i aria-hidden="true" class="fa fa-caret-down"></i>
			</span>
			<ul data-level="1" id="navDropdown0" class="collapse">
				<li>
					<ul class="nav-dropdown-inner">
						<li class="level1">
							<a href="/wallerruten">Wallerruten</a>
						</li>
						<li class="level2">
							<a href="/stellrute">Stellrute</a>
						</li>
						<li class="level2">
							<a href="/wels-spinnrute">Wels Spinnrute</a>
						</li>
						<li class="level2">
							<a href="/bootsrute">Bootsrute</a>
						</li>
						<li class="level2">
							<a href="/waller-vertikalrute">Waller Vertikalrute</a>
						</li>
						<li class="level2">
							<a href="/feederrute">Feederrute</a>
						</li>
					</ul>
				</li>
				<li>
					<ul class="nav-dropdown-inner">
						<li class="level1">
							<a href="/wallerrolle">Wallerrolle</a>
						</li>
						<li class="level2">
							<a href="/stationaerrolle">Stationärrolle</a>
						</li>
						<li class="level2">
							<a href="/multirolle">Multirolle</a>
						</li>
						<li class="level2">
							<a href="/waller-spinnrolle">Waller Spinnrolle</a>
						</li>
					</ul>
				</li>
				<li>
					<ul class="nav-dropdown-inner">
						<li class="level1">
							<a href="/wallerschnur">Wallerschnur</a>
						</li>
						<li class="level2">
							<a href="/wallerschnur-geflochten">Wallerschnur geflochten</a>
						</li>
						<li class="level2">
							<a href="/monofile-schnur">Monofile Schnur</a>
						</li>
						<li class="level2">
							<a href="/wallervorfach">Wallervorfach</a>
						</li>
						<li class="level2">
							<a href="/spinnfischen-auf-waller">Spinnfischen auf Waller</a>
						</li>
						<li class="level2">
							<a href="/reissleine">Reißleine</a>
						</li>
						<li class="level2">
							<a href="/schlagschnur">Schlagschnur</a>
						</li>
					</ul>
					<ul class="nav-dropdown-inner">
						<li class="level1">
							<a href="/waller-set">Waller Set</a>
						</li>
						<li class="level2">
							<a href="/welsangeln-mit-koederfisch">Welsangeln mit Köderfisch</a>
						</li>
						<li class="level2">
							<a href="/spinnfischen-auf-wels">Spinnfischen auf Wels</a>
						</li>
						<li class="level2">
							<a href="/vertikalangeln-auf-waller">Vertikalangeln auf Waller</a>
						</li>
						<li class="level2">
							<a href="/welsangeln-vom-boot">Welsangeln vom Boot</a>
						</li>
						<li class="level2">
							<a href="/welsangeln-mit-pellets">Welsangeln mit Pellets</a>
						</li>
						<li class="level2">
							<a href="/welsangeln-mit-boilies">Welsangeln mit Boilies</a>
						</li>
					</ul>
					<ul class="nav-dropdown-inner">
						<li class="level1">
							<a href="/wallerruten-set">Wallerruten Set</a>
						</li>
						<li class="level2">
							<a href="/welsangeln-ebro">Welsangeln Ebro</a>
						</li>
						<li class="level2">
							<a href="/welsangeln-po">Welsangeln Po</a>
						</li>
						<li class="level2">
							<a href="/welsangeln-deutschland">Welsangeln Deutschland</a>
						</li>
						<li class="level2">
							<a href="/wallerangeln-fuer-anfaenger">Wallerangeln für Anfänger</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="ddown">
			<a >Haken Montage Köder</a>
			<span data-toggle="collapse" href="#navDropdown1" aria-expanded="false" class="d-lg-none nav-direction">
				<i aria-hidden="true" class="fa fa-caret-down"></i>
			</span>
			<ul data-level="1" id="navDropdown1" class="collapse">
				<li>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/wallerhaken">Wallerhaken</a>
					</li>
					<li class="level2">
						<a href="/welshaken">Welshaken (Einzelhaken)</a>
					</li>
					<li class="level2">
						<a href="/drillingshaken">Drillingshaken</a>
					</li>
						<li class="level2">
						<a href="/zwillingshaken">Zwillingshaken</a>
					</li>
						<li class="level2">
						<a href="/welsvorfach">Welsvorfach</a>
					</li>
					<li class="level2">
						<a href="/hakenschaerfer">Hakenschärfer</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/wallermontage">Wallermontage</a>
					</li>
					<li class="level2">
						<a href="/knochenmontage">Knochenmontage</a>
					</li>
					<li class="level2">
						<a href="/wallerwirbel">Wallerwirbel</a>
					</li>
						<li class="level2">
						<a href="/welsmontage">Welsmontage</a>
					</li>
					<li class="level2">
						<a href="/schnurstopper">Schnurstopper</a>
					</li>
					<li class="level2">
						<a href="/wallerblei">Wallerblei</a>
					</li>
					<li class="level2">
						<a href="/bait-stopper">Bait Stopper</a>
					</li>
					<li class="level2">
						<a href="/sprengring">Sprengring</a>
					</li>
					<li class="level2">
						<a href="/klemmhuelsen">Klemmhülsen</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/wallerposen">Wallerposen</a>
					</li>
					<li class="level2">
						<a href="/unterwasserpose">Unterwasserpose</a>
					</li>
					<li class="level2">
						<a href="/wallerpose">Wallerpose</a>
					</li>
					<li class="level2">
						<a href="/ausleger">Ausleger</a>
					</li>
					<li class="level2">
						<a href="/side-planer">Side Planer</a>
					</li>
					<li class="level2">
						<a href="/bojenmontage">Bojenmontage</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/welskoeder">Welsköder</a>
					</li>
					<li class="level2">
						<a href="/wallerblinker">Wallerblinker</a>
					</li>
					<li class="level2">
						<a href="/gummifische">Gummifische</a>
					</li>
					<li class="level2">
						<a href="/vertikalkoeder">Vertikalköder</a>
					</li>
					<li class="level2">
						<a href="/jighaken">Jighaken</a>
					</li>
					<li class="level2">
						<a href="/welskoeder-tintenfisch">Welsköder Tintenfisch</a>
					</li>
					<li class="level2">
						<a href="/waller-wobbler">Waller Wobbler</a>
					</li>
					<li class="level2">
						<a href="/fireball-rig">Fireball rig</a>
					</li>
					<li class="level2">
						<a href="/waller-lockstoff">Waller Lockstoff</a>
					</li>
					<li class="level2">
						<a href="/waller-pellets">Waller Pellets</a>
					</li>
					<li class="level2">
						<a href="/waller-boilies">Waller Boilies</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
				<li class="level1">
							<a href="/klopfen-auf-waller">Klopfen auf Waller</a>
				</li>
					<li class="level2">
						<a href="/wallerholz">Wallerholz</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
						<li class="level1">
							<a href="/koederfische-fangen">Köderfische fangen</a>
						</li>
						<li class="level2">
							<a href="/koederfischsenke">Köderfischsenke</a>
						</li>
						<li class="level2">
							<a href="/senknetz">Senknetz</a>
						</li>
						<li class="level2">
							<a href="/feedern">Feedern</a>
						</li>
						<li class="level2">
							<a href="/stippen">Stippen</a>
						</li>
				</ul>
				</li>
			</ul>
		</li>
		<li class="ddown">
			<a >Bissanzeiger Rutenständer Technik</a>
			<span data-toggle="collapse" href="#navDropdown2" aria-expanded="false" class="d-lg-none nav-direction">
				<i aria-hidden="true" class="fa fa-caret-down"></i>
			</span>
			<ul data-level="1" id="navDropdown2" class="collapse">
				<li>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/welsbissanzeiger">Welsbissanzeiger</a>
					</li>
					<li class="level2">
						<a href="/waller-bissanzeiger">Waller Bissanzeiger</a>
					</li>
					<li class="level2">
						<a href="/funkbissanzeiger">Funkbissanzeiger</a>
					</li>
					<li class="level2">
						<a href="/aalglocke">Aalglocke</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/wallerrutenhalter">Wallerrutenhalter</a>
					</li>
					<li class="level2">
						<a href="/welsrutenhalter">Welsrutenhalter</a>
					</li>
					<li class="level2">
						<a href="/rod-pod">Rod Pod</a>
					</li>
					<li class="level2">
						<a href="/backsticks">Banksticks</a>
					</li>
					<li class="level2">
						<a href="/waller-pod">Waller Pod</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/echolote">Echolote</a>
					</li>
					<li class="level2">
						<a href="/echolot">Echolot</a>
					</li>
					<li class="level2">
						<a href="/funkecholot">Funkecholot</a>
					</li>
					<li class="level2">
						<a href="/farbecholot">Farbecholot</a>
					</li>
					<li class="level2">
						<a href="/echolot-zubehoer">Echolot Zubehör</a>
					</li>
					<li class="level2">
						<a href="/echolot-tasche">Echolot Tasche</a>
					</li>
					<li class="level2">
						<a href="/geberstange">Geberstange</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/angellampe">Angellampe</a>
					</li>
					<li class="level2">
						<a href="/zeltlampe">Zeltlampe</a>
					</li>
					<li class="level2">
						<a href="/kopflampe">Kopflampe</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/angelboot">Angelboot</a>
					</li>
					<li class="level2">
						<a href="/driftsack">Driftsack</a>
					</li>
					<li class="level2">
						<a href="/wallerboot">Wallerboot</a>
					</li>
					<li class="level2">
						<a href="/bootszelt">Bootszelt</a>
					</li>
					<li class="level2">
						<a href="/bootsrutenhalter">Bootsrutenhalter</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/unterwasserkamera">Unterwasserkamera</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/waller-dvd">Waller DVD</a>
					</li>
				</ul>
				</li>
			</ul>
		</li>
		<li class="ddown">
			<a >Zubehör Taschen</a>
			<span data-toggle="collapse" href="#navDropdown3" aria-expanded="false" class="d-lg-none nav-direction">
				<i aria-hidden="true" class="fa fa-caret-down"></i>
			</span>
			<ul data-level="1" id="navDropdown3" class="collapse">
				<li>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/angeltasche">Angeltasche</a>
					</li>
					<li class="level2">
						<a href="/koedertasche">Ködertasche</a>
					</li>
					<li class="level2">
						<a href="/schlafsacktasche">Schlafsacktasche</a>
					</li>
					<li class="level2">
						<a href="/essenstasche">Essenstasche</a>
					</li>
					<li class="level2">
						<a href="/wallertasche">Wallertasche</a>
					</li>
					<li class="level2">
						<a href="/blinkertasche">Blinkertasche</a>
					</li>
					<li class="level2">
						<a href="/rutentasche">Rutentasche</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/tacklebox">Tacklebox</a>
					</li>
					<li class="level2">
						<a href="/angelbox">Angelbox</a>
					</li>
					<li class="level2">
						<a href="/koederbox">Köderbox</a>
					</li>
					<li class="level2">
						<a href="/kleinteilebox">Kleinteilebox</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/wallerzubehoer">Wallerzubehör</a>
					</li>
					<li class="level2">
						<a href="/waller-anleinen">Waller anleinen</a>
					</li>
					<li class="level2">
						<a href="/fischwaage">Fischwaage</a>
					</li>
					<li class="level2">
						<a href="/wiegesack">Wiegesack</a>
					</li>
					<li class="level2">
						<a href="/abhakmatte">Abhakmatte</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/angelzange">Angelzange</a>
					</li>
					<li class="level2">
						<a href="/hakenloeser">Hakenlöser</a>
					</li>
					<li class="level2">
						<a href="/klemmhuelsenzange">Klemmhülsenzange</a>
					</li>
					<li class="level2">
						<a href="/sprengringzange">Sprengringzange</a>
					</li>
					<li class="level2">
						<a href="/angelschere">Angelschere</a>
					</li>
					<li class="level2">
						<a href="/hakenschaerfer">Hakenschärfer</a>
					</li>
					<li class="level2">
						<a href="/seitenschneider">Seitenschneider</a>
					</li>
					<li class="level2">
						<a href="/angelmesser">Angelmesser</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/kescher">Kescher</a>
					</li>
					<li class="level2">
						<a href="/setzkescher">Setzkescher</a>
					</li>
					<li class="level2">
						<a href="/unterfangkescher">Unterfangkescher</a>
					</li>
					<li class="level2">
						<a href="/senke">Senke</a>
					</li>
				</ul>
				</li>
			</ul>
		</li>
		<li class="ddown">
			<a >Zelte Stühle Bekleidung</a>
			<span data-toggle="collapse" href="#navDropdown4" aria-expanded="false" class="d-lg-none nav-direction">
				<i aria-hidden="true" class="fa fa-caret-down"></i>
			</span>
			<ul data-level="1" id="navDropdown4" class="collapse">
				<li>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/wallercamp">Wallercamp</a>
					</li>
					<li class="level2">
						<a href="/angelzelt">Angelzelt</a>
					</li>
					<li class="level2">
						<a href="/angelschirm">Angelschirm</a>
					</li>
					<li class="level2">
						<a href="/angelliege">Angelliege</a>
					</li>
					<li class="level2">
						<a href="/angelstuhl">Angelstuhl</a>
					</li>
					<li class="level2">
						<a href="/angelschlafsack">Angelschlafsack</a>
					</li>
					<li class="level2">
						<a href="/bivvy-table">Bivvy Table</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/angelbekleidung">Angelbekleidung</a>
					</li>
					<li class="level2">
						<a href="/wathose">Wathose</a>
					</li>
					<li class="level2">
						<a href="/angelhandschuhe">Angelhandschuhe</a>
					</li>
					<li class="level2">
						<a href="/angelhose">Angelhose</a>
					</li>
					<li class="level2">
						<a href="/angeljacke">Angeljacke</a>
					</li>
					<li class="level2">
						<a href="/angelpullover">Angelpullover</a>
					</li>
					<li class="level2">
						<a href="/regenbekleidung">Regenbekleidung</a>
					</li>
					<li class="level2">
						<a href="/angelmuetze">Angelmütze</a>
					</li>
					<li class="level2">
						<a href="/angel-t-shirt">Angel T Shirt</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/polarisationsbrille">Polarisationsbrille</a>
					</li>
				</ul>
				</li>
			</ul>
		</li>
		<li class="ddown">
			<a >Markenshops</a>
			<span data-toggle="collapse" href="#navDropdown5" aria-expanded="false" class="d-lg-none nav-direction">
				<i aria-hidden="true" class="fa fa-caret-down"></i>
			</span>
			<ul data-level="1" id="navDropdown5" class="collapse">
				<li>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/black-cat-shop">Black Cat Shop</a>
					</li>
					<li class="level2">
						<a href="/black-cat-rollen">Black Cat Rollen</a>
					</li>
					<li class="level2">
						<a href="/black-cat-ruten">Black Cat Ruten</a>
					</li>
					<li class="level2">
						<a href="/black-cat-passion">Black Cat Passion</a>
					</li>
					<li class="level2">
						<a href="/black-cat-schnur">Black Cat Schnur</a>
					</li>
					<li class="level2">
						<a href="/black-cat-taschen">Black Cat Taschen</a>
					</li>
					<li class="level2">
						<a href="/black-cat-wallerzubehoer">Black Cat Wallerzubehör</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/zeck-fishing-shop">Zeck Fishing Shop</a>
					</li>
					<li class="level2">
						<a href="/zeck-blinker">Zeck Blinker</a>
					</li>
					<li class="level2">
						<a href="/zeck-boot">Zeck Boot</a>
					</li>
					<li class="level2">
						<a href="/zeck-haken">Zeck Haken</a>
					</li>
					<li class="level2">
						<a href="/zeck-rolle">Zeck Rolle</a>
					</li>
					<li class="level2">
						<a href="/zeck-ruten">Zeck Ruten</a>
					</li>
					<li class="level2">
						<a href="/zeck-schnur">Zeck Schnur</a>
					</li>
					<li class="level2">
						<a href="/zeck-tasche">Zeck Tasche</a>
					</li>
					<li class="level2">
						<a href="/zeck-wirbel">Zeck Wirbel</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/taffi-tackle-shop">Taffi Tackle Shop</a>
					</li>
					<li class="level2">
						<a href="/taffi-tackle-ruten">Taffi Tackle Ruten</a>
					</li>
					<li class="level2">
						<a href="/bissanzeiger">Taffi Tackle Bissanzeiger</a>
					</li>
					<li class="level2">
						<a href="/taffi-tackle-wallerzubehoer">Taffi Tackle Wallerzubehör</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/mantikor-shop">Mantikor Shop</a>
					</li>
					<li class="level2">
						<a href="/mantikor-ruten">Mantikor Ruten</a>
					</li>
				</ul>
				<ul class="nav-dropdown-inner">
					<li class="level1">
							<a href="/fox-rage-cat-shop">Fox Rage Cat Shop</a>
					</li>
				</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="/sale">Sale</a>
		</li>
</ul>
